# Django core
Django==4.2
dj-database-url
python-dotenv

# PostgreSQL support
psycopg2-binary

# Static files for production
whitenoise

# User authentication
django-allauth

# UI tweaks
django-widget-tweaks

# Django helpers
django-extensions
django-filter
django-debug-toolbar
django-htmx
django-import-export
django-template-partials

#
plotly
numpy
pandas
